<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalyearprojectu">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Eidhi Trust"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".myBloodPost.MyBloodPostEdit"></activity>
        <activity
            android:name=".myBloodPost.MyBloodPost"
            android:parentActivityName=".home.homedashboardslider.HomeDashBoardSlider" />
        <activity
            android:name=".myMissingPost.MyMissingPost"
            android:parentActivityName=".home.homedashboardslider.HomeDashBoardSlider" />
        <activity
            android:name=".homeSearchAndNotification.postblooddetail.PostBloodDetail"
            android:parentActivityName=".home.homedashboardslider.HomeDashBoardSlider" />
        <activity
            android:name=".homeSearchAndNotification.postmissingdetail.PostMissingDetailP"
            android:parentActivityName=".home.homedashboardslider.HomeDashBoardSlider" />
        <activity
            android:name=".bloodDetail.BloodDetail"
            android:parentActivityName=".home.homedashboardslider.HomeDashBoardSlider" />
        <activity
            android:name=".missingPersonDeatail.MissingPersonDetail"
            android:parentActivityName=".home.homedashboardslider.HomeDashBoardSlider" />
        <activity
            android:name=".logIn.OtpPattern.OtpActivity"
            android:parentActivityName=".logIn.logInPattern.view.LogInActivity" />
        <activity android:name=".logIn.logInPattern.view.LogInActivity" />
        <activity android:name=".home.homedashboardslider.HomeDashBoardSlider" />
        <activity
            android:name=".homeSearchAndNotification.HomeButtomNavigation"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".centerManagement.CenterManagementDetailActivity"
            android:parentActivityName=".centerManagement.CenterManagementSearch" />
        <activity
            android:name=".centerManagement.CenterManagementSearch"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".updateProfile.ProfileUpdateMain"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".donationManagement.ItemDonation"
            android:parentActivityName=".donationManagement.DonationMain" />
        <activity
            android:name=".donationManagement.DonationMain"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".centersContactInformation.CentersAddresses"
            android:parentActivityName=".centersContactInformation.ContactCenters" />
        <activity
            android:name=".centersContactInformation.ContactCenters"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".ambulance.AmbulanceDetail"
            android:parentActivityName=".ambulance.AmbulanceActivity" />
        <activity
            android:name=".ambulance.AmbulanceActivity"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".home.homeDashBoard.HomeDashBoard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".signUp.Sign_up"
            android:parentActivityName=".logIn.LogIn" />
        <activity
            android:name=".logIn.LogIn"
            android:label="" />
        <activity
            android:name=".splashScreen.SplashScreen"
            android:label=""
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>