<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalyearprojectu">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rounded_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".logIn.OtpActivity"></activity>
        <activity android:name=".logIn.LogInActivity" />
        <activity android:name=".homedashboardslider.HomeDashBoardSlider" />
        <activity
            android:name=".homeSearchAndNotification.HomeButtomNavigation"
            android:parentActivityName=".homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".centerManagement.CenterManagementDetailActivity"
            android:parentActivityName=".centerManagement.CenterManagementSearch" />
        <activity
            android:name=".centerManagement.CenterManagementSearch"
            android:parentActivityName=".homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".updateProfile.ProfileUpdateMain"
            android:parentActivityName=".homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".donationManagement.ItemDonation"
            android:parentActivityName=".donationManagement.DonationMain" />
        <activity
            android:name=".donationManagement.DonationMain"
            android:parentActivityName=".homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".centersContactInformation.CentersAddresses"
            android:parentActivityName=".centersContactInformation.ContactCenters" />
        <activity
            android:name=".centersContactInformation.ContactCenters"
            android:parentActivityName=".homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".missingPersonManagement.MissingPersonMain"
            android:parentActivityName=".homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".edhiBloodBand.BloodBankMainActivity"
            android:parentActivityName=".homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".ambulance.AmbulanceDetail"
            android:parentActivityName=".ambulance.AmbulanceActivity" />
        <activity
            android:name=".ambulance.AmbulanceActivity"
            android:parentActivityName=".homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".homeDashBoard.HomeDashBoard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".signUp.sign_up"
            android:parentActivityName=".logIn.LogIn" />
        <activity
            android:name=".logIn.LogIn"
            android:label="" />
        <activity
            android:name=".splashScreen.SplashScreen"
            android:label=""
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>