<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalyearprojectuser">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rounded_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.finalyearprojectuser.logIn.OtpPattern.OtpActivity"
            android:parentActivityName="com.example.finalyearprojectuser.logIn.logInPattern.view.LogInActivity"></activity>
        <activity android:name="com.example.finalyearprojectuser.logIn.logInPattern.view.LogInActivity" />
        <activity android:name=".home.homedashboardslider.HomeDashBoardSlider" />
        <activity
            android:name="com.example.finalyearprojectuser.homeSearchAndNotification.HomeButtomNavigation"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name="com.example.finalyearprojectuser.centerManagement.CenterManagementDetailActivity"
            android:parentActivityName="com.example.finalyearprojectuser.centerManagement.CenterManagementSearch" />
        <activity
            android:name="com.example.finalyearprojectuser.centerManagement.CenterManagementSearch"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name="com.example.finalyearprojectuser.updateProfile.ProfileUpdateMain"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name="com.example.finalyearprojectuser.donationManagement.ItemDonation"
            android:parentActivityName="com.example.finalyearprojectuser.donationManagement.DonationMain" />
        <activity
            android:name="com.example.finalyearprojectuser.donationManagement.DonationMain"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name="com.example.finalyearprojectuser.centersContactInformation.CentersAddresses"
            android:parentActivityName="com.example.finalyearprojectuser.centersContactInformation.ContactCenters" />
        <activity
            android:name="com.example.finalyearprojectuser.centersContactInformation.ContactCenters"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name="com.example.finalyearprojectuser.missingPersonManagement.MissingPersonMain"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name="com.example.finalyearprojectuser.edhiBloodBand.BloodBankMainActivity"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name="com.example.finalyearprojectuser.ambulance.AmbulanceDetail"
            android:parentActivityName="com.example.finalyearprojectuser.ambulance.AmbulanceActivity" />
        <activity
            android:name="com.example.finalyearprojectuser.ambulance.AmbulanceActivity"
            android:parentActivityName=".home.homeDashBoard.HomeDashBoard" />
        <activity
            android:name=".home.homeDashBoard.HomeDashBoard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.finalyearprojectuser.signUp.Sign_up"
            android:parentActivityName="com.example.finalyearprojectuser.logIn.LogIn" />
        <activity
            android:name="com.example.finalyearprojectuser.logIn.LogIn"
            android:label="" />
        <activity
            android:name="com.example.finalyearprojectuser.splashScreen.SplashScreen"
            android:label=""
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>